.wrapper {
  text-align: center;
  padding: 100px;
  .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .spoon{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -50px;

    -webkit-animation: spoon 3s infinite ease-in-out;
    animation: spoon 3s infinite ease-in-out;
  }

  @keyframes spoon {
  0%{
    transform: skew(20deg, -20deg)
    rotate(0deg)
    translate(50px)
    rotate(0deg);

  }
  50%{
    transform:skew(20deg, -20deg)
    rotate(360deg)
    translate(50px)
    rotate(-360deg);
  }
    100%{
      transform: skew(20deg, -20deg)
      rotate(0deg)
      translate(50px)
      rotate(0deg);

    }
}
}
